<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<suite-files>
			<suite-file path="Client Setup Admin Suite.xml" />
			<suite-file path="Sirion User Admin Suite.xml" />
			<suite-file path="Client Admin Suite.xml" />	
			<suite-file path="Client Workflow Configuration Suite.xml" />			
			<suite-file path="Vendor Hierarchy Suite.xml" />
			<suite-file path="Supplier Suite.xml" />
			<suite-file path="Contract Suite.xml" />
			<suite-file path="PO Suite.xml" />
			<suite-file path="Obligation Suite.xml" />
			<suite-file path="childDNO Suite.xml" />
			<suite-file path="SL Suite.xml" />
			<suite-file path="childSL Suite.xml" />
			<suite-file path="Action Suite.xml" />
			<suite-file path="Issue Suite.xml" />
			<suite-file path="Dispute Suite.xml" />
			<suite-file path="Invoice Suite.xml" />
			<suite-file path="CR Suite.xml" />
			<suite-file path="Interpretation Suite.xml" />
			<suite-file path="WOR Suite.xml" />
			<suite-file path="GB Suite.xml" />
			<suite-file path="Child GB Suite.xml" />
			<suite-file path="ToDo Suite.xml" />
			<suite-file path="Calendar Suite.xml" />
			<suite-file path="Common Listing Suite.xml" />
			<suite-file path="Common Report Suite.xml" />
			<suite-file path="Mass Email Suite.xml" />
			<suite-file path="Search Suite.xml" />
			<suite-file path="Staging Suite.xml" />
			<!-- <suite-file path="Sirion Admin Suite.xml" />
			<suite-file path="Client User Admin Suite.xml" />
			<suite-file path="Client UI Content Setup Suite.xml" />			 
			<suite-file path="Common Dashboard Suite.xml" /> -->
	</suite-files>
</suite>