<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<suite-files>
			<suite-file path="Vendor Hierarchy Suite.xml" />
			<suite-file path="Supplier Suite.xml" />
			<suite-file path="Contract Suite.xml" />
			<suite-file path="PO Suite.xml" />
			<suite-file path="Obligation Suite.xml" />
			<suite-file path="childDNO Suite.xml" />
			<suite-file path="SL Suite.xml" />
			<suite-file path="Child SL Suite.xml" />
			<suite-file path="Action Suite.xml" />
			<suite-file path="Issue Suite.xml" />
			<suite-file path="Dispute Suite.xml" />
			<suite-file path="Invoice Suite.xml" />
			<suite-file path="CR Suite.xml" />
			<suite-file path="Interpretation Suite.xml" />
			<suite-file path="WOR Suite.xml" />
			<suite-file path="GB Suite.xml" />
			<suite-file path="Child GB Suite.xml" />
			<suite-file path="BulkCreate.xml" />
			<suite-file path="BulkEdit.xml" />
			<suite-file path="BulkAction.xml" />
			<suite-file path="BulkUpdate.xml" />
			<suite-file path="My Profile Suite.xml" />
			<suite-file path="Calendar Suite.xml" />
			<suite-file path="ToDo Suite.xml" />
			<suite-file path="Search Suite.xml" />
	</suite-files>
</suite>